<!-- CONTENT -->
<!--TITLE -->
<div class="row">
	<div id="paper-top" class="init-title">
		<div class="col-sm-3">
			<h2 class="tittle-content-header">
                            <span class="entypo-layout"></span>
                            <span>监控中心
                            </span>
                        </h2>

		</div>

		<div class="col-sm-7">

		</div>
		<div class="col-sm-2">

		</div>
	</div>
</div>
<!--/ TITLE -->

<!-- BREADCRUMB -->
<ul id="breadcrumb">
	<li>
		<a href="#/app/menu/init" title="Sample page 1"><span class="entypo-home"></span></a>
	</li>
	<li><i class="fa fa-lg fa-angle-right"></i>
	</li>
	<li>
		<a href="javascript:void(0)" title="Sample page 1">监控中心</a>
	</li>
	<li><i class="fa fa-lg fa-angle-right"></i>
	</li>
	<li>
		<a href="javascript:void(0)" title="Sample page 1">主机</a>
	</li>
	<li class="pull-right">
		<div class="input-group input-widget">
			<input style="border-radius:15px" type="text" placeholder="Search..." class="form-control" ng-model="init.searchValue">
		</div>
	</li>
</ul>

<!-- END OF BREADCRUMB -->

<div class="content-wrap">
	<div class="row">
		<div class="col-sm-12">
			<div class="nest" id="tableStaticClose">
				<div class="title-alt">
					<h6>
                                    	已监控服务器({{servers.length }})</h6>
					<div class="titleToggle">
						<button type="button" class="btn btn-primary">
                                    <span class="entypo-eye"></span>&nbsp;&nbsp;资源发现</button>
						<button type="button" class="btn btn-info">
                                    <span class="entypo-trash"></span>&nbsp;&nbsp;删除资源</button>
						<button type="button" class="btn btn-danger">
                                    <span class="entypo-cancel-squared"></span>&nbsp;&nbsp;取消监控</button>
						<button type="button" class="btn btn-warning">
							<span class="entypo-retweet"></span>&nbsp;&nbsp;移入资源组</button>
					</div>

				</div>
				<div class="body-nest" id="tableStatic">
					<section id="flip-scroll">
						<table class="table table-bordered table-striped cf">
							<thead class="cf">
								<tr>
									<th>#</th>
									<th>名称</th>
									<th class="numeric">IP地址/域名</th>
									<th class="numeric" ng-click="typeSort()">监控类型
									<span style="float:right" ng-class="{'icon': true, 'fontawesome-sort': init.typeSort === 0, 'fontawesome-caret-up': init.typeSort === 1, 'fontawesome-caret-down' : init.typeSort === 2}"></span>
									</th>
									<th class="numeric" ng-click="cpuSort()">CPU利用率 %
									<span style="float:right" ng-class="{'icon': true, 'fontawesome-sort': init.cpuSort === 0, 'fontawesome-caret-up': init.cpuSort === 1, 'fontawesome-caret-down' : init.cpuSort === 2}"></span>
									</th>
									<th class="numeric" ng-click="memorySort()">内存利用率
									<span style="float:right" ng-class="{'icon': true, 'fontawesome-sort': init.memorySort === 0, 'fontawesome-caret-up': init.memorySort === 1, 'fontawesome-caret-down' : init.memorySort === 2}"></span>
									</th>
									<th class="numeric">域名称</th>
									<th class="numeric">性能操作</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in filteredService">
									<td>{{$index + 1 + (currentPage - 1) * itemsPerPage}}</td>
									<td>{{item.kindName}}</td>
									<td>{{item.ip}}</td>
									<td class="numeric">{{item.type}}</td>
									<td class="numeric">
										<div class="progress progress-striped">
											<div ng-class="{'progress-bar':true,'progress-bar-success':item.cpu<50,'progress-bar-warning':item.cpu>50,'progress-bar-danger':item.cpu>80}" role="progressbar" aria-valuenow="{{item.cpu}}" aria-valuemin="0" aria-valuemax="100" style="width: {{item.cpu}}%">
												<span class="sr-only" style="position: initial;">{{item.cpu}}%</span>
											</div>
										</div>
									</td>
									<td class="numeric">
										<div class="progress progress-striped">
											<div ng-class="{'progress-bar':true,'progress-bar-success':item.memory<50,'progress-bar-warning':item.memory>50,'progress-bar-danger':item.memory>80}" role="progressbar" aria-valuenow="{{item.memory}}" aria-valuemin="0" aria-valuemax="100" style="width: {{item.memory}}%">
												<span class="sr-only" style="position: initial;">{{item.memory}}%</span>
											</div>
										</div>
									</td>
									<td class="numeric">{{item.field}}</td>
									<td class="numeric"><span class="label label-info cursor-pointer" ng-click="view()">详情</span></td>
								</tr>
							</tbody>
						</table>
						<div>
							<ul uib-pagination boundary-links="true" total-items="_servers.length" ng-model="currentPage" class="pagination-sm" ng-change="pageChanged()" items-per-page="itemsPerPage" max-size="maxSize" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
</div>