<link rel="stylesheet" href="css/signin.css">
<!-- particles.js container -->
<div class="window-login"></div>
<form class="container container-login" name="loginForm" ng-submit="doLogin()" layout="row" flex>
	<div class="form-signin">
		<div style="padding: 0 100px 0 100px;">
			<div class="title-login">
				<img src="img/login-logo.png" />
			</div>
			<div>
				<label for="inputID" class="login-label">账户</label>
				<input type="text" id="inputID" name="userId" ng-model="user.userId" class="form-control form-login" placeholder="name" autocomplete="off" required autofocus>
			</div>
			<br>
			<div>
				<label for="inputPassword" class="login-label">密码</label>
				<input type="password" id="inputPassword" name="password" ng-model="user.password" class="form-control form-login" autocomplete="off" placeholder="password" required>
			</div>
			<div class="alert alert-danger alert-dismissable" ng-if="showError">
				<span class="close" ng-click="closeError();">&times;</span>
				<strong>异常！</strong><span>{{errorMessage }}</span>
			</div>
			<br>
			<div>
				<button class="btn md-login" ng-disabled="loginForm.$invalid" ng-click="doLogin();">Login</button>
			</div>
		</div>

		<div class="top-left"></div>
		<div class="top-right">
			REC
		</div>
		<div class="bottom-left"></div>
		<div class="bottom-right"></div>

	</div>
</form>