<!-- TOP NAVBAR -->
<nav role="navigation" class="navbar navbar-static-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="entypo-menu"></span>
                </button>
			<button class="navbar-toggle toggle-menu-mobile toggle-left" type="button">
                    <span class="entypo-list-add"></span>
                </button>
			<div id="logo-mobile" class="visible-xs">
				<h1>WEB管理<span>v1.2</span></h1>
			</div>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a data-toggle="dropdown" class="dropdown-toggle" href="#/app/menu/pushlog"><i style="font-size:20px;" class="icon-conversation"></i>
						<div ng-class="{'noft-red': menu.mcount > 10, 'noft-green' : menu.mcount <= 10}">{{menu.mcount }}</div>
					</a>
				</li>
				<li>
					<a data-toggle="dropdown" class="dropdown-toggle" href="#/app/menu/log"><i style="font-size:19px;" class="icon-warning tooltitle"></i>
						<div ng-class="{'noft-red': menu.wcount > 10, 'noft-green' : menu.wcount <= 10}">{{menu.wcount }}</div>
					</a>
				</li>
				<li>
					<a href="#"><i data-toggle="tooltip" data-placement="bottom" title="Help" style="font-size:20px;" class="icon-help tooltitle"></i></a>
				</li>
			</ul>
			<div id="nt-title-container" class="navbar-left running-text visible-lg">
				<ul class="date-top">
					<li class="entypo-calendar" style="margin-right:5px"></li>
					<li id="Date"></li>
				</ul>
				<ul class="digital">
					<li class="entypo-clock" style="margin-right:5px"></li>
					<li class="hour"></li>
					<li>{{hours}}:</li>
					<li class="min"></li>
					<li>{{minutes}}:</li>
					<li class="sec">{{seconds}}</li>
					<li class="meridiem"></li>
				</ul>
			</div>
			<ul style="margin-right:0;" class="nav navbar-nav navbar-right">
				<li>
					<a data-toggle="dropdown" class="dropdown-toggle" href="" ng-click="logout()">
						<img alt="" class="admin-pic img-circle" src="img/thumb/men/10.jpg">{{loginUser.userName}}
					</a>
				</li>
				<li>
					<a data-toggle="dropdown" class="dropdown-toggle" href="">
						<span class="icon-gear"></span>&#160;&#160;设置</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<!-- /END OF TOP NAVBAR -->

<!-- SIDE MENU -->
<div id="skin-select">
	<div id="logo">
		<h1>Zeus&nbsp;<span>v1.0</span></h1>
	</div>

	<a id="toggle" ng-click="skin_select()">
		<span class="entypo-menu"></span>
	</a>
	<div class="dark">
		<form action="#">
			<span>
                    <input type="text" name="search" value="" class="search rounded id_search" placeholder="Search Menu..." autofocus="">
                </span>
		</form>
	</div>

	<div class="search-hover">
		<form id="demo-2">
			<input type="search" placeholder="Search Menu..." class="id_search">
		</form>
	</div>

	<div class="skin-part">
		<div id="tree-wrap">
			<div class="side-bar">
				<ul class="topnav menu-left-nest" ng-repeat="item in items">
					<li>
						<a href="#" style="border-left:0px solid!important;" class="title-menu-left">
							<span class="widget-menu">{{item.name}}</span>
							<i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>
						</a>
					</li>
					<li ng-repeat="list in item.list">
						<a class="tooltip-tip ajax-load" href="{{list.url}}" title="{{list.name}}">
							<i class="{{list.iconfont}}"></i>
							<span>{{list.name}}</span>
						</a>
						<ul ng-if="list.list">
							<li ng-repeat="childlist in list.list">
								<a class="tooltip-tip2 ajax-load" href="{{childlist.url}}" title="{{childlist.name}}"><i class="{{childlist.iconfont}}"></i><span>{{childlist.name}}</span></a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- END OF SIDE MENU -->

<!--  PAPER WRAP -->
<div class="wrap-fluid">
	<div class="container-fluid paper-wrap bevel tlbr" ui-view>
	</div>
</div>