<!-- CONTENT -->
<!--TITLE -->
<div class="row">
	<div id="paper-top" class="init-title">
		<div class="col-sm-3">
			<h2 class="tittle-content-header">
                            <span class="entypo-layout"></span>
                            <span>设备管理
                            </span>
                        </h2>

		</div>

		<div class="col-sm-7">

		</div>
		<div class="col-sm-2">

		</div>
	</div>
</div>
<!--/ TITLE -->

<!-- BREADCRUMB -->
<ul id="breadcrumb">
	<li>
		<a href="#/app/menu/init" title="Sample page 1"><span class="entypo-home"></span></a>
	</li>
	<li><i class="fa fa-lg fa-angle-right"></i>
	</li>
	<li>
		<a href="javascript:void(0)" title="Sample page 1">设备管理</a>
	</li>
	<li><i class="fa fa-lg fa-angle-right"></i>
	</li>
	<li>
		<a href="javascript:void(0)" title="Sample page 1">基础设备</a>
	</li>
	<li class="pull-right">
		<div class="input-group input-widget">
			<input style="border-radius:15px" type="text" placeholder="Search..." class="form-control" ng-model="init.searchValue">
		</div>
	</li>
</ul>

<!-- END OF BREADCRUMB -->

<div class="content-wrap">
	<div class="row">
		<div class="col-sm-12">
			<div class="nest" id="tableStaticClose">
				<div class="title-alt">
					<h6>监控设备({{logs.length }})</h6>
					<div class="titleToggle">						
						<button type="button" class="btn btn-primary">
                                    <span class="entypo-retweet"></span>&nbsp;&nbsp;设备采集</button>
					</div>
					<div class="titleToggle btn-group">
						<button type="button" ng-class="{'btn btn-info': true, 'btn-info': init.status !== 2, 'btn-selected' : init.status === 2}" ng-click="changeStatus(2)">ALL</button>
						<button type="button" ng-class="{'btn btn-info': true, 'btn-info': init.status !== 0, 'btn-selected' : init.status === 0}" ng-click="changeStatus(0)">已监控</button>
						<button type="button" ng-class="{'btn btn-info': true, 'btn-info': init.status !== 1, 'btn-selected' : init.status === 1}" ng-click="changeStatus(1)">未监控</button>
					</div>
				</div>
				<div class="body-nest" id="tableStatic">
					<table class="table table-bordered table-striped cf">
						<thead class="cf">
							<tr>
								<th>No</th>
								<th>设备名称</th>
								<th class="numeric">设备类型</th>
								<th class="numeric">IP地址</th>
								<th class="numeric">监控状态</th>
								<th class="numeric" ng-click="timeSort()">
									采集时间
									<span style="float:right" ng-class="{'icon': true, 'fontawesome-sort': init.timeSort === 0, 'fontawesome-caret-up': init.timeSort === 1, 'fontawesome-caret-down' : init.timeSort === 2}"></span>
								</th>
								<th class="numeric">操作</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="log in filteredLogs">
								<td>{{$index + 1 + (currentPage - 1) * itemsPerPage}}</td>
								<td>{{log.content }}</td>
								<td>{{log.origin}}</td>
								<td class="numeric">{{log.ipAddress}}</td>
								<td class="numeric">{{log.status == 0 ? '未解决' : '解决'}}</td>
								<td class="numeric">{{log.datetime}}</td>
								<td class="numeric">
									<span ng-class="{'label': true, 'label-info': log.status == 0}" ng-click="update(log.status)">已解决</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div>
					<ul uib-pagination boundary-links="true" total-items="_logs.length" ng-model="currentPage" class="pagination-sm" ng-change="pageChanged()" items-per-page="itemsPerPage" max-size="maxSize" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
				</div>
			</div>
		</div>
	</div>
</div>