<!-- CONTENT -->
<!--TITLE -->
<div class="row">
	<div id="paper-top" class="init-title">
		<div class="col-sm-3">
			<h2 class="tittle-content-header">
                            <span class="entypo-layout"></span>
                            <span>监控中心
                            </span>
                        </h2>

		</div>

		<div class="col-sm-7">

		</div>
		<div class="col-sm-2">

		</div>
	</div>
</div>
<!--/ TITLE -->

<!-- BREADCRUMB -->
<ul id="breadcrumb">
	<li>
		<a href="#/app/menu/init" title="Sample page 1"><span class="entypo-home"></span></a>
	</li>
	<li><i class="fa fa-lg fa-angle-right"></i>
	</li>
	<li>
		<a href="javascript:void(0)" title="Sample page 1">监控中心</a>
	</li>
	<li><i class="fa fa-lg fa-angle-right"></i>
	</li>
	<li>
		<a href="javascript:void(0)" title="Sample page 1">网络设备</a>
	</li>
	<li class="pull-right">
		<div class="input-group input-widget">
			<input style="border-radius:15px" type="text" placeholder="Search..." class="form-control" ng-model="init.searchValue">
		</div>
	</li>
</ul>

<!-- END OF BREADCRUMB -->