<!-- CONTENT -->
<!--TITLE -->
<div class="row">
	<div id="paper-top" class="init-title">
		<div class="col-sm-3">
			<h2 class="tittle-content-header">
				<span class="icon icon-warning"></span><span>&nbsp;告警管理</span>
			</h2>
		</div>
		<div class="col-sm-7"></div>
		<div class="col-sm-2"></div>
	</div>
</div>
<!--/ TITLE -->

<!-- BREADCRUMB -->
<ul id="breadcrumb">
	<li>
		<a href="#/app/menu/init" title="Sample page 1"><span class="entypo-home"></span></a>
	</li>
	<li><i class="fa fa-lg fa-angle-right"></i>
	</li>
	<li>
		告警管理
	</li>
	<li><i class="fa fa-lg fa-angle-right"></i>
	</li>
	<li>
		消息推送
	</li>
	<li class="pull-right">
		<div class="input-group input-widget">
			<input style="border-radius:15px" type="text" placeholder="搜索..." class="form-control" ng-model="init.searchValue">
		</div>
	</li>
</ul>

<!-- END OF BREADCRUMB -->

<div class="content-wrap">
	<div class="row">
		<div class="col-sm-12">
			<div class="nest" id="tableStaticClose">
				<div class="title-alt">
					<h6>消息推送列表({{logs.length }})</h6>
					<div class="titleToggle btn-group">
						<button type="button" ng-class="{'btn btn-info': true, 'btn-info': init.pushStatus !== 2, 'btn-selected' : init.pushStatus === 2}" ng-click="changePushStatus(2)">ALL</button>
						<button type="button" ng-class="{'btn btn-info': true, 'btn-info': init.pushStatus !== 0, 'btn-selected' : init.pushStatus === 0}" ng-click="changePushStatus(0)">未推送</button>
						<button type="button" ng-class="{'btn btn-info': true, 'btn-info': init.pushStatus !== 1, 'btn-selected' : init.pushStatus === 1}" ng-click="changePushStatus(1)">已推送</button>
					</div>
				</div>
				<div class="body-nest" id="tableStatic">
					<table class="table table-bordered table-striped cf">
						<thead class="cf">
							<tr>
								<th>No</th>
								<th>告警内容</th>
								<th class="numeric" ng-click="levelSort()">
									告警等级
									<span style="float:right" ng-class="{'icon': true, 'fontawesome-sort': init.levelSort === 0, 'fontawesome-caret-up': init.levelSort === 1, 'fontawesome-caret-down' : init.levelSort === 2}"></span>
								</th>
								<th class="numeric">告警源</th>
								<th class="numeric">IP地址</th>
								<th class="numeric">运行状态</th>
								<th class="numeric" ng-click="timeSort()">
									采集时间
									<span style="float:right" ng-class="{'icon': true, 'fontawesome-sort': init.timeSort === 0, 'fontawesome-caret-up': init.timeSort === 1, 'fontawesome-caret-down' : init.timeSort === 2}"></span>
								</th>
								<th class="numeric">推送状态</th>
								<th class="numeric">操作</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="log in filteredLogs">
								<td>{{$index + 1 + (currentPage - 1) * itemsPerPage}}</td>
								<td>{{log.content }}</td>
								<td>{{log.levelName}}</td>
								<td>{{log.origin}}</td>
								<td class="numeric">{{log.ipAddress}}</td>
								<td class="numeric">{{log.status}}</td>
								<td class="numeric">{{log.datetime}}</td>
								<td class="numeric">{{log.pushStatus === 0 ? '未推送' : '已推送'}}</td>
								<td class="numeric">
									<span ng-class="{'label': true, 'label-info': log.pushStatus == 0}" ng-click="push(log);">推送</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div>
					<ul uib-pagination boundary-links="true" total-items="_logs.length" ng-model="currentPage" class="pagination-sm" ng-change="pageChanged()" items-per-page="itemsPerPage" max-size="maxSize" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<script type="text/ng-template" id="push.tmpl.html">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" aria-label="Close" ng-click="cancel();">
      			<span aria-hidden="true">&times;</span>
			</button>
			<h4 class="modal-title" id="myModalLabel">消息推送</h4>
		</div>
		<div class="modal-body">
			<form method="get" class="form-horizontal bucket-form">
				<div class="form-group">
					<label class="col-sm-3 control-label">告警内容</label>
					<div class="col-sm-6">
						<textarea disabled="" rows="3" ng-model="currentLog.content" class="form-control content-area"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">告警等级</label>
					<div class="col-sm-6">
						<input type="text" disabled="" ng-model="currentLog.levelName" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">IP地址	</label>
					<div class="col-sm-6">
						<input type="text" disabled="" ng-model="currentLog.ipAddress" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">运行状态</label>
					<div class="col-sm-6">
						<input type="text" disabled="" ng-model="currentLog.status" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">采集时间</label>
					<div class="col-sm-6">
						<input type="text" disabled="" ng-model="currentLog.datetime" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">告知用户名</label>
					<div class="col-sm-6">
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">短信</label>
					<div class="col-sm-6">
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">邮箱</label>
					<div class="col-sm-6">
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">告知方式</label>
					<div class="col-sm-6">
						<label class="radio-inline">
						  <input type="radio" name="informing" id="" value="option1"> 电话
						</label>
						<label class="radio-inline">
						  <input type="radio" name="informing" id="" value="option2" checked=""> 邮箱
						</label>
					</div>
				</div>

			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" ng-click="addPort();">推送</button>
		</div>
	</div>
</script>