<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<context:component-scan base-package="com.zeus.*" />

	<mvc:resources mapping="/resources/**" location="/resources/" />
	<beans:bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"></beans:bean>
	<!-- plan 2 -->
	<annotation-driven>
		<message-converters register-defaults="false">
			<beans:bean
				class="org.springframework.http.converter.StringHttpMessageConverter">
				<beans:property name="supportedMediaTypes">
					<beans:list>
						<beans:value>text/plain;charset=UTF-8</beans:value>
						<beans:value>text/html;charset=UTF-8</beans:value>
					</beans:list>
				</beans:property>
			</beans:bean>
			<beans:bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<beans:property name="objectMapper">
					<beans:bean
						class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean">
					</beans:bean>
				</beans:property>
				<beans:property name="supportedMediaTypes">
					<beans:list>
						<beans:bean class="org.springframework.http.MediaType">
							<beans:constructor-arg index="0" value="text" />
							<beans:constructor-arg index="1" value="plain" />
							<beans:constructor-arg index="2" value="UTF-8" />
						</beans:bean>
						<beans:bean class="org.springframework.http.MediaType">
							<beans:constructor-arg index="0" value="*" />
							<beans:constructor-arg index="1" value="*" />
							<beans:constructor-arg index="2" value="UTF-8" />
						</beans:bean>
						<beans:bean class="org.springframework.http.MediaType">
							<beans:constructor-arg index="0" value="text" />
							<beans:constructor-arg index="1" value="*" />
							<beans:constructor-arg index="2" value="UTF-8" />
						</beans:bean>
						<beans:bean class="org.springframework.http.MediaType">
							<beans:constructor-arg index="0" value="application" />
							<beans:constructor-arg index="1" value="json" />
							<beans:constructor-arg index="2" value="UTF-8" />
						</beans:bean>
					</beans:list>
				</beans:property>
			</beans:bean>
		</message-converters>
		<!-- 开发阶段放开 
		<mvc:argument-resolvers>
			<beans:bean class="com.zeus.common.annotation.resolver.AsynLoginResolver"></beans:bean>
		</mvc:argument-resolvers>
		 -->
	</annotation-driven>

	<beans:bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<beans:property name="prefix" value="/WEB-INF/view/" />
		<beans:property name="suffix" value=".jsp" />
	</beans:bean>

  <!-- 开发阶段放开
	<interceptors>
		<interceptor>
			<mapping path="/**" />
			<exclude-mapping path="/demo/login" />
			<beans:bean class="com.zeus.common.interceptor.LoginInteceptor" />
		</interceptor>
	</interceptors>
	 -->
</beans:beans>
    
